.site-navbar {
    background-color: black;
    box-sizing: border-box;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    width: 100%;
    overflow: hidden;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/**/
.navbar-logo{
    display: block;
    float: left;
}
.logo-img {
    padding-left: 1.75rem;
    padding-right: 1rem;
}
.logo-label {
    font-size: larger;
    font-weight: lighter;
}
#navbar-logo a {
    color: white;
    text-decoration: none;
}

/**/
.navbar-links {
    float:right;
}
.navbar-links a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    list-style: none;
}
.navbar-links a:hover {
    background-color: #cecece;
    color: black;
}

.navbar-element {
    display: block;
    float: left;    
}
